.react-number-formatter-form{
  display: flex;
}
.react-number-formatter-input {
    border: 1px solid rgb(214, 214, 214);
    outline: none;
    font-size: inherit;
    color: rgb(39, 38, 38);
    padding: 0rem 0.375rem;
    margin-left: -1px;
    background: none;
    width: 100%;
  }
  
  .react-number-formatter-dropbtn {
    border: 1px solid rgb(209, 207, 207);
    outline: none;
    margin-right: 0px;
    font-weight: 700;
    color: #5a5959;
    background-color: #e9ecef;
    font-size: inherit;
    padding: 0.375rem 0.375rem;
    cursor:pointer;
  }

  .react-number-formatter-dropbtn:hover{
  background: #f4f5f5;
  border: 1px solid rgb(224, 222, 222);
  }
  
  .react-number-formatter-dropbtn-false {
    padding: 0.375rem 0.5rem;
    pointer-events: none;
  }
  .react-number-formatter-dropbtn-false:hover {
    background-color: #e9ecef;
    border: 1px solid rgb(209, 207, 207);
  }

  .zoom {
    transition: transform .2s;
  }
  .react-number-formatter-dropbtn:hover img{
    transform: scale(.95);
  }

  .react-number-formatter-dropbtn-text {
    display: flex;
    pointer-events: none;
    flex-direction: row;
    align-items: center;
  }
  .react-number-formatter-dropbtn-text span {
    line-height: 20px;
  }
  
  .react-number-formatter-flag {
    width: 20px;
    height: auto;
    margin: 0px 3px 0px 0px;
    box-shadow: 0px 0px 2px 0px rgb(86, 85, 85);
  }
  
  .react-number-formatter-selected-flag {
    min-width: 13px;
    max-height: 13px;
    border-radius: 1px;
    margin: 0.2rem 0rem;
    box-shadow: 0px 0px 2px 0px rgb(86, 85, 85);
  }


  
  .react-number-formatter-arrow-parent {
    display: inline-flex;
    margin-left: 5px;
  }
  
  .react-number-formatter-dropdown-parent {
    position: relative;
    display: inline-block;
  }

.react-number-formatter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  border: 2px solid rgb(227, 225, 225);
  min-width: 275px;
  z-index: 20;
  height:auto;
  max-height:300px;
  overflow: hidden;
  margin: 3px 0px 0px 0px;
  border-radius: 0 0 12px 12px;
}
.react-number-formatter-dropdown-content-child {
  overflow: scroll;
  max-height: 250px;
  min-width: inherit;
  z-index: 20;
  overflow-x: hidden;
  border-radius: inherit;
} 
.react-number-formatter-dropdown-content-top {
  height: inherit;
  border-radius: 10px 10px 0px 0px;
  height: 300px;
  bottom: 42px
}

.react-number-formatter-dropdown-content .react-number-formatter-option {
  color: black !important;
  padding: 10px 16px !important;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: inherit;
  border-radius: 0% !important;
  background: none;
  border: none;
  outline: none;
  text-align: left;
}

.react-number-formatter-no-option {
  height: 22px;
  margin: 5px 0;
  text-align: center;
  font-size: small;
  opacity: 0.8;
}

.react-number-formatter-dropdown-content .react-number-formatter-dropdown-input-parent {
  text-align: center;
  border-bottom: 2px solid rgb(159, 159, 159);
  position: sticky;
  top: 0;
  min-width: 275px;
  max-width: inherit;
  overflow: hidden;
}

.react-number-formatter-dropdown-input{
  padding: 11px 16px;
  font-size: inherit;
  width: 100%;
  border: none;
  margin: 0px;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #d7d9db;
  color: rgb(78, 77, 77);
}
.react-number-formatter-dropdown-input:focus{
  outline: none;
}

.react-number-formatter-dropdown-content .react-number-formatter-option:hover {background-color: rgb(233, 232, 232)}
.react-number-formatter-dropdown-content .react-number-formatter-option-no-search:hover {background-color: rgb(224, 222, 222)}

.show {display:block;}
